.wrapper {
  transform: translate(35%, 35%);
}
.dial {
  height: 400px;
  width: 400px;
}

.timer {
  position: relative;
  display: inline-block;
}

* {
  font: inherit;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timer input {
  display: block;
  border: none;
  font-size: 90px;
  text-align: center;
  margin-bottom: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(35, 173, 278, 0.1);
}

.timer button {
  border-radius: 10%;
  border: none;
  font-size: 36px;
  cursor: pointer;
  display: inline-block;
  padding-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
  transition: all 200ms ease-out;
  margin: 2px;
}

.timer button:enabled {
  background-color: rgba(28, 218, 60, 0.425);
}

.timer button:disabled {
  background-color: rgba(253, 0, 0, 0.329);
}

.timer button:focus,
.timer button:hover {
  box-shadow: 0 0 10px rgba(13, 0, 131, 0.774);
  outline: rgba(3, 161, 3, 0.856);
}

.timer input:hover,
.timer input:focus,
.timer input:active {
  background-color: rgba(35, 173, 278, 0.3);
  margin-bottom: 10px;
  outline: none;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(35, 173, 278, 1);
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

circle {
  box-shadow: rgba(220, 20, 60, 0.63);
}
